{% extends 'base.html' %}

{% block content %}
<main class="hoc container clear"> 


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h2 class="m-0 font-weight-bold text-primary">{{sn}}</h2>
        </div>
            <div class="card-body">
                <h5>{{cn}}, {{pn}}</h5>
                <hr>
                <h4><strong>{{goal}}</strong></h4>
                <p> {{desc}} </p>
                주 {{week}}시간 수업<br/><br/>

                교수님 연락처 : {{tel}}<br/><br/>
                성적 산출 방식 :
                {% for score in scores %}
                    &nbsp&nbsp&nbsp&nbsp&nbsp{{score}}<br/>
                {% endfor%}
                <br/>{{book}}

                <br/><br/>
                
        </div>
</main>
{% endblock %}


