{% extends 'base.html' %}

{% block content %}
<!-- Font Awsome -->
  
<div class="wrapper row2">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">Algorithm Theme</h6>
    </div>
    <ul class="nospace group services">
      <li class="one_quarter first">
        <article><a href="https://programmers.co.kr/learn/courses/30/parts/12077"><i class="fa fa-3x fa-key" aria-hidden="true"></i></a>
          <h6 class="heading font-x1"><a href="https://programmers.co.kr/learn/courses/30/parts/12077">Hash</a></h6>
          <p>Bibendum ac risus sit amet venenatis mauris a tortor porta ligula</p>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="https://programmers.co.kr/learn/courses/30/parts/12081"><i class="fa fa-3x fa-stack-overflow" aria-hidden="true"></i></a>
          <h6 class="heading font-x1"><a href="https://programmers.co.kr/learn/courses/30/parts/12081">Stack/Queue</a></h6>
          <p>Mi integer sagittis urna id tempor interdum donec vitae est ut</p>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="https://programmers.co.kr/learn/courses/30/parts/12117"><i class="fa fa-3x fa-steam"></i></a>
          <h6 class="heading font-x1"><a href="https://programmers.co.kr/learn/courses/30/parts/12117">Heap</a></h6>
          <p>Lorem vehicula vel nec tortor dignissim nec arcu quis ornare</p>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="https://programmers.co.kr/learn/courses/30/parts/12198"><i class="fa fa-3x fa-sort-amount-asc" aria-hidden="true"></i></a>
          <h6 class="heading font-x1"><a href="https://programmers.co.kr/learn/courses/30/parts/12198">Sort</a></h6>
          <p>Nulla et metus hendrerit elit rutrum tristique ut nec ligula</p>
        </article>
      </li>
    </ul>

    <ul class="nospace group services">
      <li class="one_quarter first">
        <article><a href="https://programmers.co.kr/learn/courses/30/parts/12244"><i class="fa fa-3x fa-fast-forward" aria-hidden="true"></i></a>
          <h6 class="heading font-x1"><a href="https://programmers.co.kr/learn/courses/30/parts/12244">Greedy</a></h6>
          <p>Bibendum ac risus sit amet venenatis mauris a tortor porta ligula</p>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="https://programmers.co.kr/learn/courses/30/parts/12263"><i class="fa fa-3x fa-eercast"></i></a>
          <h6 class="heading font-x1"><a href="https://programmers.co.kr/learn/courses/30/parts/12263">Dynamic Programming</a></h6>
          <p>Mi integer sagittis urna id tempor interdum donec vitae est ut</p>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="https://programmers.co.kr/learn/courses/30/parts/12421"><i class="fa fa-3x fa-usb" aria-hidden="true"></i></a>
          <h6 class="heading font-x1"><a href="https://programmers.co.kr/learn/courses/30/parts/12421">DFS/BFS</a></h6>
          <p>Lorem vehicula vel nec tortor dignissim nec arcu quis ornare</p>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="https://programmers.co.kr/learn/courses/30/parts/14393"><i class="fa fa-3x fa-share-alt" aria-hidden="true"></i></a>
          <h6 class="heading font-x1"><a href="https://programmers.co.kr/learn/courses/30/parts/14393">Graph</a></h6>
          <p>Nulla et metus hendrerit elit rutrum tristique ut nec ligula</p>
        </article>
      </li>
    </ul>

  </section>
</div>
{% endblock %}