{% extends 'base.html' %}
{% block content %}

<!--
<div class="wrapper bgded overlay light" style="background-image:url('../static/images/demo/backgrounds/01.png');"> 
  <div id="pageintro" class="hoc clear"> 
-->
  <!--################-->
    <div class="carousel bgded overlay light clear">
        <ul class="slides">
            <input type="radio" name="radio-buttons" id="img-1" checked />
            <li class="slide-container">
                <div class="slide-image">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/9/9e/Timisoara_-_Regional_Business_Centre.jpg">
                </div>
                <div class="carousel-controls">
                    <label for="img-3" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-2" class="next-slide">
                      <span>&rsaquo;</span>
                    </label>
                </div>
            </li>
            <input type="radio" name="radio-buttons" id="img-2" />
            <li class="slide-container">
                <div class="slide-image">
                    <img src="http://www.timisoaranight.gruzphoto.eu/IMG_8554.jpg">
                </div>
                <div class="carousel-controls">
                    <label for="img-1" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-3" class="next-slide">
                        <span>&rsaquo;</span>
                    </label>
                </div>
            </li>
            <input type="radio" name="radio-buttons" id="img-3" />
            <li class="slide-container">
                <div class="slide-image">
                    <img src="https://speakzeasy.files.wordpress.com/2015/05/twa_blogpic_timisoara-4415.jpg">
                </div>
                <div class="carousel-controls">
                    <label for="img-2" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-1" class="next-slide">
                        <span>&rsaquo;</span>
                    </label>
                </div>
            </li>
            <div class="carousel-dots">
                <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
                <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
                <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
            </div>
        </ul>
    </div>

  <!--###################-->
<!--
  </div>
</div>
-->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content"> 
      <!-- ################################################################################################ -->
      
      <!-- ################################################################################################ -->
      <div class="group btmspace-50 demo">
        <div class="one_half first sectiontitle">
          <h6 class="heading">Notice</h6>
            <br/><br/>
            <table>
              <thead>
                <tr>
                  <th width="35%">제목</th>
                  <th width="25%">작성일</th>
                </tr>
              </thead>
              <tbody>
                {% for note in notice %}
                  {% if forloop.counter <= 5 %}
                <tr>
                  <td>{{note.title}}</td>
                  <td>{{note.date}}</td>
                </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
        
        </div>
        
        <div class="one_half sectiontitle">
          <h6 class="heading">New Assignment</h6>
        
            <br/><br/>
            <table>
              <thead>
                <tr>
                  <th width="20%">수업</th>
                  <th width="25%">제목</th>
                </tr>
              </thead>
              <tbody>
                {% for assignments in assignments %}
                  {% if forloop.counter <= 5 %}
                <tr>
                  <td>{{assignments.class_choice.subject_nm}}</td>
                  <td>{{assignments.title}}</td>
                </tr>
                  {% endif %}
                {% endfor %}
              </tbody>

            </table>
        
        
        </div>
      </div>
    </div>


    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  <h3> Upcoming Events </h3>
        <!-- ################################################################################################ -->
  <div class="slider">
    <div class="slide-track">
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <a href="https://google.com">클릭해봐</a>
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
      </div>
    </div>
  </div>

  </main>




<div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/03.png');">
  <div class="hoc container testimonials clear"> 
    <!-- ################################################################################################ -->
    <article><img src="images/demo/100x100.png" alt="">
      <h6 class="heading font-x1">About This Project</h6>
      <blockquote>In eu tortor nisi curabitur quis dui nam bibendum lectus diam dictum tincidunt ullamcorper dui et ante venenatis euismod aenean quis vulputate velit elit dolor eget.</blockquote>
      <a class="btn" href="#">More</a>
      <em>Kang Minchul</em></article>
    <!-- ################################################################################################ -->
  </div>
</div>

{% endblock %}