{% extends 'userbase.html' %}
{% block usercontent %}
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Profile</h1>
                  </div>
                    <h6>ID : {{user.username}}</h6>
                    <h6>이름 : {{user.realname}}</h6>
                    <h6>email : {{user.email}}</h6>
                    <h6>group : {{user.group}}</h6>

                    

               
                   <br/><br/><br/><br/><br/>
                  <hr>
{% endblock %}
           