{% extends 'base.html' %}

{% block content %}
<main class="hoc container clear"> 
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <form method='POST'>
                <div class="form-group">
                    {% csrf_token %}
                    <label>수업 개설</label>
                    {{form.as_p | safe}}
                    <input type = "submit" class="btn btn-outline-primary" value ="추가하기">
                </div>
            </form>    
        </div>
    </div>
</main>
{% endblock %}


